# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

# Databases
db.sqlite3

# IDEs
.idea/**

# Django
mapit/static

# Python randomness
*.pyc
__pycache__
